<div class="topo">
    <img class="img_icon" src="/img/node_icon.png" alt="icone node" width="60cm" height="60cm">
    <a class="topo_button" href="/">Home</a>
</div>
<h1>Adicionar Usuário</h1>
<form action="/users/save" method="post">
    <div>
        <input type="text" name="name" placeholder="Digite seu nome">
        <input type="text" name="age" placeholder="Digite idade">
        <input type="text" name="email" placeholder="Digite seu E-mail">
        <input type="submit" value="Cadastrar" />
    </div>
</form>
