<div class="topo">
    <img class="img_icon" src="/img/node_icon.png" alt="icone node" width="60cm" height="60cm">
    <a class="topo_button" href="/">Home</a>
    <a class="topo_button" href="/users/add">  Adicionar Usuário</a>
</div>
<h1 class="titulo_view">Dados do Usuário</h1>
<div class="dados_view">
    <h2> Nome: {{user.name}} | Idade: {{user.age}} | E-mail: {{user.email}}</h2>
</div>


